.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
  text-decoration: none;
}

.nav__link i {
  font-size: 30px;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 17px;
}

.nav__update {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: -12px;
}
