.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__update {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  right: 18px;
  top: 50px;
}
